<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>JavaAppLauncher</string>
	<key>CFBundleIconFile</key>
	<string>logo.icns</string>
	<key>CFBundleIdentifier</key>
	<string>com.itextpdf.rups.RupsLauncher</string>
	<key>CFBundleDisplayName</key>
	<string>RUPS</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>RUPS</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>{project.version}</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>NSHumanReadableCopyright</key>
	<string></string>
	<key>NSHighResolutionCapable</key>
	<true/>
	<key>NSSupportsAutomaticGraphicsSwitching</key>
	<true/>
	<key>JVMRuntime</key>
	<string></string>
	<key>JVMRuntimePath</key>
	<string></string>
	<key>JVMMainClassName</key>
	<string>com.itextpdf.rups.RupsLauncher</string>
	<key>JVMClassPaths</key>
	<array>
		<string>com/itextpdf/itext-rups/{project.version}/itext-rups-{project.version}.jar</string>
	</array>
	<key>JVMVersion</key>
	<string>1.7+</string>
	<key>JVMOptions</key>
	<array>
		<string>-Dapple.laf.useScreenMenuBar=true</string>
		<string>-Xdock:name=itext-rups</string>
	</array>
	<key>JVMArguments</key>
	<array/>
</dict>
</plist>
